div {
	position: fixed;
}

#pacman {
  width: 0px;
  height: 0px;
  border-right: 70px solid transparent;
  border-top: 70px solid yellow;
  border-left: 70px solid yellow;
  border-bottom: 70px solid yellow;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
